:root {
  --blur-z-index: 1;
}

/* not needed for tool */
html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: auto;
}

body.disable-scroll {
  overflow: hidden;
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  filter: blur(3px);
  z-index: var(--blur-z-index);
}

.modal {
  display: block !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: calc(var(--blur-z-index) + 1);
  width: 100%;
}

.modal-dialog {
  overflow-y: initial !important;
}

.modal-body {
  height: 100vh;
  overflow-y: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.cookie-popup {
  background: rgb(252, 252, 252);
  padding: 20px 40px;
  margin: 20px auto;
  border: 2px solid black;
  max-width: 800px;
}

.cookie-popup-title {
  text-align: center;
}

ul.vendor-list {
  list-style-type: none;
  padding: 0;
}

ul.vendor-list > li {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

ul.vendor-list > li:not(:last-child) {
  border-bottom: 2px solid lightgray;
}

.cookie-popup form button {
  padding: 10px 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 20px 10px 0;
}

.vendor-name {
  font-weight: bold;
}

.accordion-toggler {
  width: 100%;
  display: block;
  text-align: left;
}

.accordion-toggler:after {
  content: "\002B";
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion-toggler.active:after {
  content: "\2212";
}

.primary {
  border: none;
  background-color: #4caf50;
  color: white;
}

.primary:hover {
  background-color: #39913b;
}

.secondary {
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
}

.secondary:hover {
  background-color: #e7e5e5;
}

.hidden {
  display: none;
}

.switch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 34px;
  width: 60px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4caf50;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
