:root {
  --modal-z-index: 1;
}

body {
  overflow: auto;
}

body.disable-scroll {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.primary {
  border: 1px solid #4caf50;
  background-color: #4caf50;
  color: white;
}

.primary:hover {
  background-color: #39913b;
}

.secondary {
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
}

.secondary:hover {
  background-color: #e7e5e5;
}
